<h1 class="title-form add_form">Create new card</h1>

<div class="form_main add_form">
    <div class="container">
        <form action="{% url 'set-template' id_template=id_template %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div>
                <input type="hidden" name="source" id="id_source">
            </div>
        <div class="form-group" >
                <input type="file" name="image" id="id_image" style="outline: none;">
                <label class="control-label" for="id_image" >Load the main image of your card</label>

            </div>
        <div class="field-form form-group">
                <input type="text" name="title" id="id_title" maxlength="255" required>
                <label class="control-label" for="id_title" >Title</label><i class="bar"></i>

            </div>
            <div class="field-form form-group" style="margin-top: 20px;">
                <input type="text" name="description" id="id_description" maxlength="500" required>
                <label class="control-label" for="id_description" >Description</label><i class="bar"></i>

            </div>


<div class="form-group">
            <select name="parent_page" id="">
                {% for elem in level_2 %}
                    <option value="{{ elem}}">{{ elem}}</option>
                {% endfor %}
            </select>
<label for="select" class="control-label">Category</label><i class="bar"></i>
            {% for elem in type_pages %}

                {% if elem.get_title == current_page.get_parent_page.get_title %}
                    <!--<input type="hidden" name="parent_page" value="{{current_page.get_parent_page.get_title}}">-->

    <input type="hidden" name="type_page" value={{ id_template}}>
                {% endif %}
            {% endfor %}
</div>
        <div class="btn-popup-wrap button-container">
                <button class="button"><span>Create</span></button>
            </div>
        </form>
    </div>
</div>