{% extends 'user_app/index.html' %}
{% load static %}

{% block body %}
<div class="advertisement">

    <div class="advert_block">
        <div class="left_col cab">
            <ul class="category_list">
                <li class="{% if current_page == 'profile' %}active{% endif %}">
                    <a href="{% url 'my-profile' %}">Profile</a>
                </li>
                <li class="{% if current_page == 'my_template' %}active{% endif %}">
                    <a href="/cabinet/">My templates</a>
                </li>
                <li class="{% if current_page == 'create_new' %}active{% endif %}">
                    <a href="{% url 'create-new' %}">Create new template</a>
                </li>
                <li class="{% if current_page == 'statistic' %}active{% endif %}">
                    <a href="{% url 'statistics' %}">Statistics</a>
                </li>
                <li class="{% if current_page == 'contact_form_page' %}active{% endif %}">
                    <a href="{% url 'contact_form_page' %}">Contact form</a>
                </li>
            </ul>
        </div>
        <div class="right_col cab ">
            {% block cabinet %}
            <div class="advertisement">
                <div class="main_menu templ_my">
                    <div class="right_col temp_col templ_my">
                        <div class="choose_type">
                            <form method="post" action="/">
                                <div class="form-radio">

                                    <div class="radio">
                                        <label>
                                            <input class="js-check-status" id="publish"
                                                   type="radio"
                                                   name="status"
                                                   value="True"/><i class="helper"></i>Publish
                                        </label>


                                        <label>
                                            <input class="js-check-status" id="unpublish"
                                                   type="radio"
                                                   name="status"
                                                   value="False"/><i class="helper"></i>UnPublish
                                        </label>


                                        <label>
                                            <input class="js-check-status" id="all"
                                                   type="radio"
                                                   name="status"
                                                   value="all" checked="checked"/><i class="helper"></i>All
                                        </label>

                                    </div>


                                </div>
                            </form>
                        </div>
                        <!--<div class="d6">-->
                            <!--<form>-->
                                <!--<input type="text" placeholder="Search...">-->
                                <!--<button type="submit"><img src="{% static 'magnifier.svg' %}" alt=""></button>-->
                            <!--</form>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="advert_block">
                    <div class="right_col create_templs ">
                        <div class="content_user_templ templ_my">
                            {% for page in user_pages %}
                            {% if page.image %}
                            {% endif %}

                            <div class="js-template-cabinet user_templ"
                                 data-publish="{{ page.check_published }}">
                                <div class="img_templ">
                                    <a href="{{ page.page_user_custom.get_absolute_url }}">
                                        {% if page.image %}
                                            <div class="page_img" style="background-image: url('{{page.image.url}}') ; "></div>
{#                                        <img src="{{page.image.url}}" alt="">#}

                                        {% else %}
                                         <div class="page_img_empty"></div>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="disc_templ cab">
                                    <h3><a href="{{ page.page_user_custom.get_absolute_url }}">{{ page.page_user_custom.get_title }}</a></h3>
                                    <h2><span>{{ page.category }}</span></h2>
                                    <h4>{{page.page_user_custom.get_meta_description}}</h4>
                                    <h5><a href="#">Watch - {{ page.count_sum }}</a></h5>
                                </div>
                            </div>
                            {% empty %}
                            <h1> You have not created any templates yet. <a href="/start/">Let's
                                start!</a></h1>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

            {% endblock %}

        </div>
    </div>

</div>


{% endblock %}

{% block scripts %}

<script>
    ClientApp.cabinet.filter_by_status();
</script>

{% endblock %}

{#{% render_block "js" %}#}