{% load navigation_tags %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}admin.min.css">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    {% render_block "css" %}
</head>
<body>

<div id="page-wrapper">
    {% include 'user_app/includes/header.html' %}
    <!--<a href="{% if page.get_path %}/admin-cms/{{page.get_path}}{% endif %}">{{ page }} создана - {{ page.created_by }} id = {{ page.id }}</a>-->

    <div class="container" id="content_wrapper">
        {% block body %}

        {% endblock %}
    </div>
</div>

{% include 'user_app/includes/footer.html' %}
<div class="js-popup client-popup hidden">
    <div class=" fs-style  popup-content" data-action="register">
        <span class="js-close close">X</span>
        <h1 class="title-form">Sign up</h1>
        <div class="form-user">
            {% include 'user_app/partials/register_form.html' %}
        </div>
        <p class="js-switch switch-form-btn" data-action="login">
            <span>Вже маєте обліковий запис? </span>
            <span>Увійти!</span>
        </p>
    </div>


    <div class="fs-style popup-content hidden" data-action="login">
        <span class="js-close close">X</span>
        <h1 class="title-form">Sign in</h1>
        <div class="form-user">
            {% include 'user_app/partials/login_form.html' %}
        </div>
        <p class="js-switch switch-form-btn" data-action="register">
            <span>Немає облікового запису?</span>
            <span>Зареєструватись!</span>
        </p>
    </div>
</div>

<script src="{{ STATIC_URL }}admin.bundle.js"></script>

<script>
    ClientApp.auth_user.init();
    ClientApp.home.init();
</script>

{% block scripts %} {% endblock %}
{% render_block "js" %}

</body>
</html>