{% extends 'user_app/index.html' %}
{% block content %}
<form method="post" id="login_form" action="{% url 'login' %}"> {% csrf_token %}
    <div class="field-form">
        <label for="login">логін</label>
        <input type="text" name="login" id="login">
    </div>
    <div class="field-form">
        <label for="password">пароль</label>
        <input class="password" type="password" name="password" id="password">
    </div>
     <div class="checkbox-group">
        <input class="js-show-pass" id="show_pass_log" type="checkbox" name="show_password">
        <label for="show_pass_log">Показати пароль</label>
    </div>
    <span class="js-failed error hidden"></span>

     <div class="btn-popup-wrap">
        <button class="btn btn-popup w-50">Увійти</button>
    </div>
</form>
{% endblock %}