{% load static %}
<header id="custom__header_page">
    <div class="head_wrap {{ class }}">

        <nav class="nav_elem">
            <div class="logo">
                <a href="/"><img src="{% static 'logo_simpoo.png' %}" alt=""></a>
            </div>
            <button class="mobile-header js-mobile-menu">Menu</button>
            <ul class="menu_ul" id="menu">
                <!--<li><a href="#!">Головна</a></li>-->

                <li><a class="link-item" href="{% url 'advertisement' %}">Advertisement</a></li>
                <li><a class="link-item" href="{% url 'templates' %}">Templates</a></li>
                <li><a class="link-item" href="{% url 'contactus' %}">Contact us</a></li>
            </ul>
            {% if request.user.is_authenticated %}
                {#    {% url 'user-logout' %}#}

                <a class="personal_info" href="{% url 'user-logout' %}">Log out {{ request.user.username }}<img
                        src="{% static 'log-out.svg' %}" alt=""></a>
                <a href="{% url 'my-profile' %}">
                    <span class="prof">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" style=""><rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="none" stroke="none" class="" style=""/>
    <defs>
        <style>.cls-1{fill:#777777;}.cls-2{fill:#fff;fill-rule:evenodd;}.cls-3{fill:#D94F5C;}</style>
    </defs>
    <title>Asset 4off</title>

<g class="currentLayer" style=""><title>Layer 1</title><g id="Layer_2" data-name="Layer 2" class="" transform="">
        <g id="Layer_1-2" data-name="Layer 1" transform="">
            <path class="cls-1" d="M 29.261 20.7581 c -0.0321248 0.691544 0.133853 0.615311 0.128499 1.27963 c 0.728162 0 0.706746 0.598975 0.679975 1.42665 c -0.0321248 1.02915 -0.819182 2.77706 -1.91678 3.12011 c -0.128499 0.969255 0 2.51025 -0.979806 2.83696 a 3.08398 3.13645 0 0 0 -0.0963748 1.30685 C 28.9076 33.1569 32.0505 34.736 34.1601 35.7761 A 15.7197 15.9872 0 1 0 12.8453 35.836 c 2.67706 -1.63357 6.56417 -4.08393 6.96037 -5.18386 a 3.12146 3.17457 0 0 0 -0.294478 -1.42121 c -0.733516 -0.147021 -0.770995 -1.91128 -0.770995 -2.72261 c -1.2261 -0.174248 -1.73474 -2.17809 -1.7508 -3.35971 c 0 -0.691544 0.21952 -1.20339 0.910199 -1.19795 a 13.1979 13.4225 0 0 0 -0.165978 -1.59001 Z" id="svg_1" transform=""/>
            <path class="cls-2" d="M 34.1601 35.7761 C 32.0505 34.736 28.9076 33.1569 27.0819 30.7283 a 3.08398 3.13645 0 0 1 0.0963748 -1.30685 c 0.995872 -0.321268 0.851307 -1.86772 0.979806 -2.83696 c 1.07083 -0.34305 1.8793 -2.09096 1.91678 -3.12011 c 0.0267706 -0.827674 0.0481872 -1.45388 -0.679975 -1.42665 c 0 -0.664318 -0.160624 -0.588084 -0.128499 -1.27963 c 1.84718 -4.57944 -2.21661 -7.73767 -5.76104 -7.73767 a 6.33394 6.44171 0 0 0 -4.06914 1.4811 c -2.89658 1.39943 -2.36653 4.96605 -1.68655 5.85362 a 13.1979 13.4225 0 0 1 0.165978 1.59001 c -0.690683 0 -0.920907 0.500961 -0.910199 1.19795 c 0 1.17617 0.535414 3.18546 1.7508 3.35971 c 0 0.816784 0.0428331 2.58649 0.770995 2.72261 A 3.12146 3.17457 0 0 1 19.8057 30.6521 c -0.412269 1.08905 -4.28331 3.55573 -6.96037 5.18386 a 15.7144 15.9817 0 0 0 21.3148 -0.0598975 Z" id="svg_2" transform=""/>
            <path class="cls-3" d="M 23.5 47.81 a 23.51 23.91 0 1 1 23.51 -23.9045 A 23.5582 23.959 0 0 1 23.5 47.81 Z m 0 -44.8523 A 20.5974 20.9478 0 1 0 44.0974 23.9055 A 20.6188 20.9696 0 0 0 23.5 2.95765 Z" id="svg_3" transform=""/>
        </g>
    </g></g></svg>
                    </span></a>
            {% else %}
                <a class="personal_info js-auth-show header-icon user-icon">Log in <img src="{% static 'in.svg' %}"
                                                                                        alt=""></a>
            {% endif %}
        </nav>
    </div>

</header>