<div class="bus__background_image" style="background-image: url('{{instance.background.url}}')"></div>

<div class="bus_content p0 dispFlex">
    <div class="col-30 p10">
        <div class="circle-avatar" style="background-image: url('{{instance.avatar.url}}')"></div>
        <div>
            <p>{{instance.description}}</p>
        </div>
        <div class="contact-wrap">
            <div class="contact-item"><a href="tel:{{instance.phone_1}}">{{instance.phone_1}}</a></div>
            <div class="contact-item"> <a href="tel:{{instance.phone_2}}">{{instance.phone_2}}</a></div>
            <div class="contact-item"> <a href="tel:{{instance.phone_3}}">{{instance.phone_3}}</a></div>
            <div> {{instance.address}}</div>
        </div>
    </div>
    <div class="col-40 display-flex-center">
       <h1>{{instance.title}}</h1>
        <div class="text-wrap">
            {{instance.text}}
        </div>
    </div>
    <div class="col-30 p0 h100">
        <div class="h50 back_photo" style="background-image: url('{{instance.right_top_image.url}}')"></div>
        <div class="h50 back_photo" style="background-image: url('{{instance.right_bottom_image.url}}')"></div>
    </div>
</div>


