 {% if instance.background %}
<div class="bus__background_image" style="background-image: url('{{instance.background.url}}')"></div>
 {%else%}
     <div class="bus__background_image empty"></div>
 {%endif%}
<div class="bus_content dispFlex">
    <div class="left-col-35">
         {% if instance.avatar %}
        <img class="image-avatar" src="{{instance.avatar.url}}" alt="">
         {%else%}
        <img class="image-avatar" src="{{STATIC_URL}}img/tren.jpg" alt="">
         {%endif%}
        <div class="contact-wrap">
            <div class="contact-item">{{instance.phone_1}}</div>
            <div class="contact-item"> {{instance.phone_2}}</div>
            <div class="contact-item"> {{instance.phone_3}}</div>
            <div class="contact-item"> {{instance.address}}</div>
        </div>
    </div>
    <div class="right-col-55">
        <h1>{{instance.title}}</h1>
        <div class="text-wrap">
            {{instance.text}}
        </div>
    </div>
</div>
