<div class="bus__background_image" style="background-image: url('{{instance.background.url}}')"></div>

<div class="bus_content p0 dispFlex">
    <div class="col-30">
        <div class="circle-avatar" style="background-image: url('{{instance.avatar.url}}')"></div>
        <div class="contact-wrap">
            <div class="contact-item">{{instance.phone_1}}</div>
            <div class="contact-item"> {{instance.phone_2}}</div>
            <div class="contact-item"> {{instance.phone_3}}</div>
            <div class="contact-item"> {{instance.address}}</div>
        </div>
    </div>
    <div class="col-70">
        <div class="h50 mb40 dispFlex">
            <div class="left-inside-col">
                <h1>{{instance.title}}</h1>
                <div class="text-wrap">
                    {{instance.description}}
                </div>
            </div>
            <div class="right-inside-col">
                <div class="back_photo" style="background-image: url('{{instance.right_top_image.url}}')"></div>
            </div>
        </div>

        <div class="h50 p24">
           {{instance.text}}
        </div>

    </div>

</div>


