{% load cms_tags %}
<div class="">

    <div class="icon">
        <div class="icon__back__image" style="background-image: url('{{instance.image.url}}')"></div>
    </div>
    <h2>{{instance.title}}</h2>
    <p>{{instance.text}}</p>
</div>