<div id="popups_container">
    <div class="js-popup popup-wrapper" data-type-car="{{instance.id}}">
        <div class="popup-content">
            <button class="js-close close-popup">X</button>
            <div class="head-popup">
                <h3>{{instance.title}}</h3>
            </div>
            <div class="cont-table">
                <h1>{{instance.text}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="car-item js-popup-click" data-type="{{instance.id}}" data-aos="fade-right" data-aos-duration="500">
    <div class="img-wrap">
        {% if instance.image %}
        <img class="size-50" src="{{instance.image.url}}" alt="">

        {% else %}
        <img class="size-50" src="{{STATIC_URL}}img/templates/uvfilm/1.png" alt="">

        {% endif %}
    </div>
    <div class="info-car">
        <h5>{{instance.title}}</h5>
        <h6>{{instance.text|truncatechars:'12'}}</h6>
    </div>
</div>