{% load cms_tags %}
<div class="left-col">
    <div class="img-wrapper contain"
         {% if instance.image %}
         style="background-image: url('{{instance.image.url}}')"
         {% else %}
         style="background-image: url('{{STATIC_URL}}img/templates/uvfilm/command.jpg')"
         {% endif %}
    >
    </div>
</div>
<div class="right-col" data-aos="flip-down" data-aos-duration="500">
    <h1 class="main-title">{{instance.title}}</h1>
    <div class="description">
        {{instance.text}}
    </div>
</div>