<section class="cover-back-image-100vh" id="hero"
         {% if instance.image %}
         style="background-image:url('{{instance.image.url}}')"
         {% endif %}

>
</section>
<div class="container pos-absolute hero">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center inner">
            {% if instance.title %}
            <h1 class="animated fadeInDown">{{instance.title}}</h1>
            {% endif %}
            {% if instance.text %}
            <p class="animated fadeInUp delay-05s">
                {{instance.text}}
            </p>
            {% endif %}
        </div>
    </div>
</div>