{% load navigation_tags %}

<div class="item center-block {{instance.id|review_class}}">
    <div class="profile-holder">
        <img class="profile-image" src="{{instance.image.url}}" alt="profile">
    </div>
    <div class="quote-holder">
        <blockquote class="quote">
            <p>{{instance.text}}</p>
            <div class="quote-source">
                <span class="name">@{{instance.author_review}}</span>
                <span class="meta">{{instance.country_author}}</span>
            </div><!--//quote-source-->
        </blockquote>
    </div><!--//quote-holder-->
</div><!--//item-->