.add_form {
  &.form_main .form-group-add select ~ .control-label, &.form_main .form-group-add input:valid ~ .control-label {
    color: #BC2F3C;
  }

  &.form_main .form-group-add {
    margin-bottom: 0.5rem;
  }

  &.form_main .form-group-add.field-form {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
  }

  form {

    width: 100%;
  }
  &.form_main .form-group-add input{
    padding: 0.5rem 0.125rem 0.0625rem;
  }

}

