.first_wrap {
  .left_title {
    width: 60%;
    margin: 20px 50px;
    color: #fff;

    h1 {
      font-size: 46px;
      font-weight: 700;

    }
  }


}

.advertisement {
  width: 100%;


  .main_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 3px double rgba(217, 79, 92, 0.5);


    .left_col {
      width: 20%;
      border-right: 3px double rgba(217, 79, 92, 0.5);
      border-bottom: 3px double rgba(217, 79, 92, 0.5);


      h3 {
        text-align: center;
        color: #777777;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;

      }
    }

    .right_col {
      width: 80%;
      text-align: center;
      display: flex;
      justify-content: flex-end;

    }

    .temp_col {
      border-bottom: 3px double rgba(217, 79, 92, 0.5);
    }
  }


  .advert_block {
    width: 100%;
    display: flex;
    justify-content: space-between;


    .left_col {
      width: 20%;
      border: 3px double rgba(217, 79, 92, 0.5);
      border-left: none;
      border-top: none;
      height: 100%;

      li {
        color: #777777;
        font-size: 14px;

        text-transform: uppercase;
        border-bottom: 1px solid rgba(217, 79, 92, 0.3);

        &:last-of-type {
          border-bottom: none
        }

        &:hover, &:active {
          background-color: #f7e9e9;
          color: #365558;
          cursor: pointer;
        }

      }

      li {
        a {
          height: 100%;
          padding: 10px;
        }
      }

      a {
        text-decoration: none;
        color: #777777;
        display: block;
        width: 100%;


      }

      li:hover {
        a {
          color: #365558;
        }
      }

      .active {
        background-color: #f7e9e9;
        color: #365558;
        cursor: pointer;

        a {
          color: #365558;
        }
      }

    }

    .right_col {
      width: 80%;
      display: flex;
      //justify-content: center;
      flex-direction: column;

      //border-bottom: 3px double rgba(217, 79, 92, 0.5);
    }

  }
}


.d6 {
  width: 35%;
  margin-top: 5px;
  margin-bottom: 5px;


  input[type="text"]::-webkit-input-placeholder {
    color: #a5a3a3;
  }

  input[type="text"]::-moz-placeholder {
    color: #a5a3a3;
  }
}

.d6 form {
  height: 42px;

}

.d6 input {
  height: 100%;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: 0.5s ease-in-out;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #365558;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.choose {
  margin: 0 0 0;

}

.d6 input {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid #D94F5C;
}

//
//.d6 input:focus {   // скрытие и появление формы
//  width: 300px;
//  z-index: 1;
//  border-bottom: 2px solid #D94F5C;
//}

.d6 button {

  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin-bottom: 0;

}

.d6 button:before {
  content: " ";
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #D94F5C;
}

form {
  position: relative;
  width: 300px;
  //margin: 0 0;
}

.content_user_templ {
  width: 100%;
  display: flex;
  //justify-content: space-between;
  justify-content: left;
  flex-wrap: wrap;
  text-align: center;

  .user_templ {
    //width: 30%;
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;


    .img_templ {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 200px;
      }

      .page_img{
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .page_img_empty{
        width: 200px;
        height: 200px;
        background: url('../img/ok_gray.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: #E6EAEA;
      }

      a {
        width: 200px;
      }

      a {
        display: block;
        position: relative;

      }

      a:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(217, 79, 92, .5);
        opacity: 0;
        transition: all 0.4s ease-out;
      }

      a:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../img/ok.svg');
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        transition: all 0.4s ease-out;
      }


      a:hover:before,
      a:hover:after {
        opacity: 1;
      }
    }


    .disc_templ {
      h2, h3, h4, h5 {

        margin-top: 5px;
        margin-bottom: 5px;
      }

      h3 {
        color: #365558;
        font-size: 16px;
        font-weight: 800;

        a {
          color: #365558;

          &:hover {

            color: #BC2F3C;
          }
        }

      }

      h2 {
        color: #4c4e4e;
        font-size: 14px;
        font-weight: 600;
        border-bottom: none;

        a {
          color: #4c4e4e;

          &:hover {
            color: #4c4e4e;
            border-bottom: 2px solid #D94F5C;
          }
        }
      }

      h4 {
        color: #777777;
        font-size: 14px;
        font-weight: 400;
      }

      h5 {
        color: #D94F5C;
        font-size: 16px;
        font-weight: 600;
      }

      a {
        text-decoration: none;
        color: #D94F5C;
      }

      a:hover {
        color: #BC2F3C;
      }
    }
  }

}


.choose_type {
  width: 95%;


  form {
    width: 100%;

  }


  fieldset {
    padding: 15px;
    border: none;
  }

  input[type=checkbox] {
    opacity: 0;
    float: left;
  }

  input[type=checkbox] + label {
    margin: 0 0 0 0px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
    float: left;
    color: #777777;
  }

  input[type=checkbox] + label ~ label {
    margin: 0 0 0 40px;
  }

  input[type=checkbox] + label::before {
    content: ' ';
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    display: block;
    background: white;
    border: 2px double #777777;
    color: #777777;
  }

  input[type=checkbox] + label::after {
    content: ' ';
    position: absolute;
    left: -35px;
    top: -3px;
    width: 23px;
    height: 23px;
    display: block;
    z-index: 1;
    background: url("../img/checked.svg") no-repeat center center;
    -ms-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .3s ease;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;


  }


  input[type=checkbox]:checked + label::after {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;

  }

  input[type="checkbox"]:checked + label {
    color: #D94F5C;
  }
}

.choose_type {
  fieldset {
    margin: 0 0 0;
  }
}

