


.tem_block_stat{
      width: 100%;
    display: flex;
}


.profile {
  width: 100%;
  display: flex;
  justify-content: right;

  .form-group select ~ .control-label, .form-group input:focus ~ .control-label, .form-group input:valid ~ .control-label, .form-group input.form-file ~ .control-label, .form-group input.has-value ~ .control-label, .form-group textarea:focus ~ .control-label, .form-group textarea:valid ~ .control-label, .form-group textarea.form-file ~ .control-label, .form-group textarea.has-value ~ .control-label {

    color: #D94F5C;

  }

  .support_form {
    margin-top: 30px;
  }

  .content_user_templ {
    text-align: left;
  }

  .support_form {
    width: 50%;

  }

  .logo_img {
    //width: 30%;

    padding: 30px 30px;
    display: flex;

    flex-direction: column;

    .main_img {
      width: 100%;

    }

    .but_img {
      width: 100%;

      text-align: center;

    }

    .butt_main {

      a {
        font-size: 18px;
        padding: 10px 20px;
      }
    }

    .profile_img {
      width: 100%;
      height: 200px;
      background: #E6EAEA;
      background-image: url('../img/profile.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      img {

        width: 200px;
        height: 200px;
      }
    }
  }


  .butt_main:hover {
    a {
      border: 2px solid #BC2F3C;
    }
  }


}

.right_col.cab {
  border-left: 3px double rgba(217, 79, 92, 0.5);

  .advertisement .right_col.create {
    width: 100%;

  }
}

.main_menu.cab {
  border-top: none;
  justify-content: left;

}

.advertisement .advert_block .left_col {
  &.cab {
    border-right: none;
  }
}

.create {
  margin-top: 5px;


  .choose_type fieldset {
    padding: 0;
    padding-top: 5px;

  }

  .choose_type input[type=checkbox] + label ~ label,
  .choose_type input[type=radio] + label ~ label {
    margin: 0 20px 14px 30px;

    &:last-of-type {
      margin-left: 12px;
    }
  }

  .choose_type input[type=checkbox] + label,
  .choose_type input[type=radio] + label {
    font-size: 15px;
  }

  //.checkbox label{
  //  padding-left: 0;
  //}
  //.choose_type input[type=checkbox] + label {
  //  margin: 0 0 10px 0;
  //}
  .form-group select ~ .control-label {
    color: #BC2F3C;
  }

  .form-group {
    width: 90%;
    //margin-top: 0;
    margin-bottom: 0;
  }

  .choose_type {
    width: 33%;
    //margin-left: 20px;
  }

  .category_create {
    width: 33%;

  }

  .d6 {
    width: 25%;

    form {

      width: 100%;
    }

  }

  .row_two_sort {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .d6 input {
    width: 100%;

  }

  //
  //.d6 input:focus { // скрытие и появление формы
  //  width: 100%;
  //  z-index: 1;
  //  border-bottom: 2px solid #D94F5C;
  //}
}

.advertisement .main_menu .right_col.create {
  width: 100%;
  //text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  //align-items: center;
}

.advertisement .advert_block .right_col.create_templs {
  width: 100%;

  .content_user_templ {
    justify-content: left;
  }

  .content_user_templ .user_templ {
    width: 33%;
  }

}

.advertisement .advert_block .right_col.templ_my {
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;

  .choose_type {
    width: 60%;
  }

  .d6 {
    width: 35%;
  }

}

.advertisement .main_menu.templ_my {
  border-top: none;

}

.content_user_templ.templ_my {
  h1 {
    font-size: 32px;
    color: #777777;
    margin-bottom: 10px;
    margin-left: 20px;

  }

  a {
    text-decoration: none;
    color: #D94F5C;
  }

  a:hover {
    color: #BC2F3C;
  }
}

.statistic_template {
  width: 50%;
  margin-top: 20px;
}

.stat {
  .img_templ {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 200px;
      height: 200px;
    }

    a {
      width: 200px;
      height: 200px;
    }

    a {
      display: block;
      position: relative;

    }
  }
}

.templ_my {
  .form-radio, .form-group {

    margin-bottom: 0;
  }

  .radio {
    display: flex;
    justify-content: start;
  }

  .checkbox label, .form-radio label {
    padding-right: 2rem;
  }
}


//cab

//.cms-toolbar{
//  margin-top: 46px;
//}
//
//.cms-toolbar-expanded.cms-ready{
//  margin-top: 0px;
//}
//
//.head_wrap{
//  margin-top: 0px;
//
//}

div.cms .cms-toolbar, .cms-structure.cms-structure-condensed {
  top: 77px !important;
}

.page_header.head_wrap {
  position: fixed;
  top: 0;
  background: #ffffff;
  z-index: 100;
}

.intro-header {
  margin-top: 83px;
}

div.cms .cms-structure {
  height: 95% !important;
}

.select_temp {
      position: fixed;
    display: flex;
    min-width: 25%;
    width: 100%;
    max-width: 30vw;
    right: 0;
    flex-direction: row;
    top: 77px;
    background: white;
    border: 3px double rgba(217, 79, 92, 0.5);
    border-top: none;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

  h1 {
    font-size: 12px;
    color: #777777;
  }

  .butt_main {
    padding-top: 0;

    a {
      background: #ffffff;
      color: #D94F5C;
      border-bottom: none;
      font-size: 14px;
      padding: 0;
    }

    a:hover {
      color: #BC2F3C;
      text-decoration: none;

    }
  }
}

.cms-toolbar-item.cms-toolbar-item-logo {
  display: none;
}

.content_user_templ .user_templ .disc_templ.cab h2 span {
  color: #4c4e4e;
    border-bottom: 2px solid #D94F5C;
}


.form-wrapper{
  display: flex;
}

