
.table-request {
  width: 100%;
  margin: 0;
  margin-right: 2px;

  .table-row {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px double rgba(217, 79, 92, 0.5);;
    text-align: center;

    &:hover:not(:first-child) {
      cursor: pointer;
      background-color: #bc2f3c24;
    }

    &:first-child {
      background-color: #e6eaea78;

      .td {
        font-size: 14px;
        color: #365558;
      }
    }

    &:last-child {

    }

    .td {
      padding: 10px 0;
      font-size: 12px;
      box-sizing: border-box;


      &.w-5 {

        width: 5%;

        .choose_type input[type=checkbox] + label::before, .choose_type input[type=checkbox] + label::after {
          left: 0;
        }
      }

      &.w-10 {
        width: 10%;
      }

      &.w-16 {
        width: 16%;
      }

      &.w-14-5 {
        width: 14.5%;
      }

      &.w-20 {
        width: 20%;
      }

      &.w-18 {
        width: 18%;
      }
    }
  }
}


.pattern-info {
  &.hidden {
    display: none;
  }
}

p.clip {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  padding: 5px; /* Поля вокруг текста */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

.popup-table {
  color: #365558;


  &.client-popup .popup-content {
    max-width: 700px;
    padding: 10px 32px;
  }

  h1 {
    color: #BC2F3C;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .title-form {
    text-align: center;
    color: #365558;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 13px;
  }
  span, .js-message{
    padding-left: 5px;
    font-size: 14px;
    font-weight: 300;
  }
  .js-message{
    line-height: 1.6;
  }

  .choose_type fieldset {
    padding-left: 18px;
  }

}