
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <span style="color: red;">Вам пришло письмо от {{ name_user }} <h1> со страницы {{user_page}}</h1></span>

    <div style="
    font-size:22px;
     color: green;
    font-familly: Arial, sans-serif;">
        {{ msg }}
    </div>
    <p>Его номер - {{phone}}</p>
    <p>Его mail - {{email}}</p>
</div>
<div>
</div>
</body>
</html>