{% extends 'user_app/index.html' %}
{% load static %}
{% block body %}


<section class="first_wrap">

    <div class="left_title">
        <h1>
            Advertisement
        </h1>

    </div>

</section>
<div class="advertisement">

    <div class="main_menu">
        <div class="left_col">
            <h3>Category</h3>
        </div>
        <div class="right_col">
            <!--<div class="d6">-->
                <!--<form>-->
                    <!--<input type="text" placeholder="Search...">-->
                    <!--<button type="submit"><img src="{% static 'magnifier.svg' %}" alt=""></button>-->
                <!--</form>-->
            <!--</div>-->
        </div>
    </div>
    <div class="advert_block">
        <div class="left_col">
            <ul class="category_list">

                <hr>
                <li class="js-filter-type active" data-filter-category="-1"><a href="#">All</a></li>
                  {% for elem in title_arr %}
                 <li class="js-filter-type" data-filter-category="{{ elem }}">
                    <!--<input type="hidden" name="не забыть!" value=" {{ child_page.get_absolute_url }}">-->
                    <a href="#">{{ elem }} </a>
                </li>
                {% endfor %}
                <!--{% for elem in level_2 %}-->
                <!--{% if elem.get_child_pages %}-->
                <!--{% for child_page in elem.get_child_pages %}-->
                <!--<li class="js-filter-type" data-filter-category="{{ child_page.get_title }}">-->
                    <!--<input type="hidden" name="не забыть!" value="{{ child_page.get_absolute_url }}">-->
                    <!--<a href="#">{{ child_page.get_title }} </a>-->
                <!--</li>-->
                <!--{% endfor %}-->
                <!--{% endif %}-->
                <!--{% endfor %}-->
                <!--<li><a href="#">FASHION & BEAUTY</a></li>-->
                <!--<li><a href="#">SPORTS</a></li>-->
                <!--<li><a href="#">TRAVEL</a></li>-->
                <!--<li><a href="#">DESIGN & PHOTOGRAPHY</a></li>-->
                <!--<li><a href="#">CARS & MOTORCYCLES</a></li>-->
                <!--<li><a href="#">MEDICAL HEALTHCARE</a></li>-->
                <!--<li><a href="#">EDUCATION & BOOKS</a></li>-->
                <!--<li><a href="#">HOLIDAYS, GIFTS & FLOWERS</a></li>-->
                <!--<li><a href="#">PET ANIMALS</a></li>-->
                <!--<li><a href="#">ELECTRONICS REPAIR</a></li>-->
                <!--<li><a href="#">ART & CULTURE</a></li>-->
                <!--<li><a href="#">REAL ESTATE</a></li>-->
                <!--<li><a href="#">ENTERTAINMENT & GAMES</a></li>-->
                <!--<li><a href="#">FOOD & RESTAURANT</a></li>-->
                <!--<li><a href="#">COMPUTERS & INTERNET</a></li>-->
                <!--<li><a href="#">SOCIETY & PEOPLE</a></li>-->
                <!--<li><a href="#">HOME & FAMILY</a></li>-->
                <!--<li><a href="#">BUSINESS</a></li>-->

            </ul>

        </div>

        <div class="right_col">
            <div class="content_user_templ">
                {% for page in all_pages %}
                <div class="js-user-template user_templ" data-target-category="{{ page.category }}">
                    <div class="img_templ">
                        <a class="js-count-view" href="{{page.page_user_custom.get_absolute_url}}">
                            {% if page.image %}
                                <div class="page_img" style="background-image: url('{{page.image.url}}') ; "></div>
{#                            <img src="{{page.image.url}}" alt="">#}
                            {% else %}
                            <div class="page_img_empty"></div>
                            {% endif %}

                        </a>
                    </div>

                    <div class="disc_templ">
                        <h3><a class="js-count-view" data-page-id="{{page.id}}"   href="{{page.page_user_custom.get_absolute_url}}">{{page.page_user_custom}}</a></h3>
                        <h2><a href="#" class="js-filter-type" data-filter-category="{{page.category}}">{{page.category}}</a></h2>
                        <h4>{{child_of_child.get_meta_description}}</h4>
                        <h5><a href="#">@{{page.page_user_custom.created_by }}</a></h5>
                    </div>
                </div>
                <!--<a href="{{ page.get_absolute_url }}">{{ page }} создана - {{ page.created_by }} id = {{ page.id }}-->
                <!--{{page.get_parent_page}}</a>-->

                {% endfor %}

                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">@User Name</a></h5>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">@User Name</a></h5>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">@User Name</a></h5>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">@User Name</a></h5>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">@User Name</a></h5>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">@User Name</a></h5>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">@User Name</a></h5>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">@User Name</a></h5>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">@User Name</a></h5>-->
                <!--</div>-->
                <!--{#-->
                <!--</div>-->
            </div>
        </div>
    </div>

</div>
{#</div>#}


{% endblock %}

{% block scripts %}

<script>
    ClientApp.filter_ad.init();
    ClientApp.home.ajax_view_count();
</script>

{% endblock %}