{% extends 'user_app/index.html' %}

{% block body %}
    <section class="first_wrap">

        <div class="left_title">
            <h1>
                Contact us
            </h1>

        </div>

    </section>
    <div class="title_page">
        <div class="title_left">
            <h1>Support</h1>
        </div>
        <div class="title_right">
            <h1> Testimonials</h1>
        </div>

    </div>

    <div class="content_support_page">

        <div class="support_form cab">

            <div class="container">
                <form>
                    {#    <h1>Material Design formular</h1>#}

                    <div class="form-group">
                        <input type="text" required="required"/>
                        <label for="input" class="control-label">Your full name</label><i class="bar"></i>
                    </div>
                    <div class="form-group">
                        <input type="email" required="required"/>
                        <label for="input" class="control-label">Your email</label><i class="bar"></i>
                    </div>

                    <div class="form-group">
                        <input type="text" required="required"/>
                        <label for="input" class="control-label">Subject</label><i class="bar"></i>
                    </div>
                    <div class="form-group">
                        <textarea required="required"></textarea>
                        <label for="textarea" class="control-label">Details</label><i class="bar"></i>
                    </div>

                    <h3>Type of mail</h3>
                    <div class="form-radio">
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio" checked="checked"/><i class="helper"></i>Platform
                                issue/questions
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio"/><i class="helper"></i>Comment or platform review
                            </label>
                        </div>
                    </div>

                </form>
                <div class="button-container">
                    <button type="button" class="button"><span>Submit</span></button>
                </div>
            </div>

        </div>

        <div class="faq">

            <div class="comment">
                <div class="img_li">

                </div>
                <div class="text_comment">
                    <h3> Lorem ipsum </h3>
                    <h5> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur et itaque nulla
                        porro praesentium quisquam tempore totam, vel voluptatibus? </h5>
                    <div class="line">

                    </div>

                </div>

            </div>
            <div class="comment">
                <div class="img_li">

                </div>
                <div class="text_comment">
                    <h3> Lorem ipsum </h3>
                    <h5> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur et itaque nulla
                        porro praesentium quisquam tempore totam, vel voluptatibus? </h5>
                    <div class="line">

                    </div>

                </div>

            </div>
            <div class="comment">
                <div class="img_li">

                </div>
                <div class="text_comment">
                    <h3> Lorem ipsum </h3>
                    <h5> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur et itaque nulla
                        porro praesentium quisquam tempore totam, vel voluptatibus? </h5>
                    <div class="line">

                    </div>

                </div>

            </div>
            <div class="comment">
                <div class="img_li">

                </div>
                <div class="text_comment">
                    <h3> Lorem ipsum </h3>
                    <h5> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur et itaque nulla
                        porro praesentium quisquam tempore totam, vel voluptatibus? </h5>
                    <div class="line">

                    </div>

                </div>

            </div>

        </div>
    </div>

{% endblock %}