{% extends 'user_app/cabinet.html' %}
{% load static %}


<div class="contact_letter">
    <div class="right_col cab ">
        {% block cabinet %}
            <div class="advertisement">
                <div class="main_menu templ_my">
                    <div class="right_col temp_col templ_my">
                        <div class="choose_type">
                            <form method="post" action="/">
                                <div class="form-radio">
                                    <div class="radio">
                                        <label>
                                            <input class="js-check-status" id="viewed"
                                                   type="radio"
                                                   name="status"
                                                   value="True"/><i class="helper"></i>Viewed
                                        </label>
                                        <label>
                                            <input class="js-check-status" id="new"
                                                   type="radio"
                                                   name="status"
                                                   value="False"/><i class="helper"></i>New
                                        </label>
                                        <label>
                                            <input class="js-check-status" id="all"
                                                   type="radio"
                                                   name="status"
                                                   value="all" checked="checked"/><i
                                                class="helper"></i>All({{ all_query|length }})
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--<div class="d6">-->
                            <!--<form>-->
                                <!--<input type="text" placeholder="Search...">-->
                                <!--<button type="submit"><img src="{% static 'magnifier.svg' %}" alt=""></button>-->
                            <!--</form>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="advert_block">
                    <div class="right_col create_templs ">
                        <div class='table-request'>
                            <div class="table-row">
                                <div class="td  w-5">№</div>
                                <div class="td  w-10">Template name</div>
                                <div class="td  w-10">Theme</div>
                                <div class="td  w-16">Email</div>
                                <div class="td  w-14-5">Phone</div>
                                <div class="td  w-18">Name</div>
                                <div class="td  w-20">Message</div>
                                <div class="td  w-5">Status</div>
                            </div>
                            {% for query in all_query %}
                                <div class="js-show-info table-row"
                                     data-id="{{ query.id }}"
                                     data-status="{{ query.status }}"
                                     data-template="{{ query.page.get_title }}"
                                     data-theme="{{ query.theme }}"
                                     data-email="{{ query.email }}"
                                     data-phone="{{ query.phone }}"
                                     data-name_human="{{ query.name_human }}"
                                     data-message="{{ query.message }}"
                                >
                                    <div class="td w-5">{{ forloop.counter }}</div>
                                    <div class="td w-10">{{ query.page.get_title }}</div>
                                    <div class="td w-10">{{ query.theme }}</div>
                                    <div class="td w-16">{{ query.email }}</div>
                                    <div class="td w-14-5">{{ query.phone }}</div>
                                    <div class="td w-18">{{ query.name_human }}</div>
                                    <div class="td w-20"><p class="clip">{{ query.message }}</p></div>
                                    <div class="td w-5">
                                        <div class="choose_type">
                                            <input class="js-change-type" id="{{ forloop.counter }}" type="checkbox"
                                                   name="type"
                                                    {% if query.status %} checked {% endif %} disabled>
                                            <label for="{{ forloop.counter }}"></label>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-popup-query client-popup hidden popup-table">
                <div class=" fs-style  popup-content" data-action="register">
                    <span class="js-close-query close">X</span>
                    <div class="content">
                        <h1 class="title-form">View message</h1>
                        <div class="">
                            <h1>Template name</h1>
                            <span class="js-template"></span>
                        </div>
                        <div class="theme">
                            <h1>Theme</h1>
                            <span class="js-theme"></span>
                        </div>
                        <div class="">
                            <h1>Email</h1>
                            <span class="js-email"></span>
                        </div>
                        <div class="">
                            <h1>Phone</h1>
                            <span class="js-phone"></span>
                        </div>
                        {#                        <div class="js-name">#}
                        <div class="">
                            <h1>Name</h1>
                            <span class="js-name"></span>
                        </div>
                        <h1>Message</h1>
                        <div class="js-message">

                        </div>
                        <input id="js-hidden-inp" type="hidden" name="id">

                        <div class="js-status popup-check">
                            <div class="choose_type">

                                    <fieldset>

                                        <input id="js-check" type="checkbox" name="viewed">
                                        <label for="js-check">Check as viewed</label>
                                    </fieldset>

                            </div>


                        </div>
                        <div class="btn-popup-wrap button-container">
                        <button class="button" id="js-send-check"><span>Save change</span></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    </div>
</div>

{% block scripts %}
    <script>
        ClientApp.contact_page.init();
        ClientApp.contact_page.filterRow();
        console.log();
    </script>
{% endblock %}

