{% extends 'user_app/cabinet.html' %}
{% load static %}

{% block cabinet %}


<div class="advertisement">

    <div class="main_menu cab">
        <div class="right_col create temp_col">
            <div class="choose_type">
                <form method="post" action="/">
                    <fieldset>
                        {% for elem in level_2 %}
                        <input class="js-change-type" id="{{elem.get_title}}_{{forloop.counter}}" type="checkbox"
                               name="type"
                               value="{{elem.get_title}}" checked>
                        <label for="{{elem.get_title}}_{{forloop.counter}}">{{elem.get_title}}</label>
                        <!--<h1>{{elem.get_title}}</h1>-->
                        {% empty %}
                        Создай!
                        {% endfor %}
                    </fieldset>
                </form>
            </div>


                <div class="category_create">
                    <div class="container">
                        <form>
                            <div class="form-group">
                                <select class="js-select" name="category">
                                     <option value="-1" >ALL</option>
                                    {% for elem in title_arr %}
                                    <option value="{{elem}}" class="js-filter-type" data-filter-category="{{ elem }}">{{elem}}</option>
                                    {% endfor %}
                                    <!--{% for elem in level_2 %}-->
                                    <!--{% if elem.get_child_pages %}-->
                                    <!--{% for child_page in elem.get_child_pages %}-->
                                    <!--<option value="{{ child_page.get_title }}" class="js-filter-type" data-filter-category="{{ child_page.get_title }}">-->
                                        <!--{{ child_page.get_title }}-->
                                    <!--</option>-->
                                    <!--{% endfor %}-->
                                    <!--{% endif %}-->
                                    <!--{% endfor %}-->
                                </select>
                                <label for="select" class="control-label">Category</label><i class="bar"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <!--<div class="d6">-->
                    <!--<form>-->
                        <!--<input type="text" placeholder="Search...">-->
                        <!--<button type="submit"><img src="{% static 'magnifier.svg' %}" alt=""></button>-->
                    <!--</form>-->
                <!--</div>-->

        </div>
    </div>
    <div class="advert_block">

        <div class="right_col create_templs ">
            <div class="content_user_templ">


                {% for elem in level_2 %}
                {% if elem.get_child_pages %}
                {% for child_page in elem.get_child_pages %}

                <!--{% if child_page.image %} <img style="margin-left: 50px" width="50" src="{{child_page.image.url}}"-->
                <!--alt="">-->
                <!--{% endif %}-->
                <!--<h2 style="margin-left: 50px"><a href="{{ child_page.get_absolute_url }}">-->
                <!--{{ child_page.get_title}} </a></h2>-->

                {% if child_page.get_child_pages %}
                {% for child_of_child in child_page.get_child_pages %}
                <div class="js-user-template user_templ"
                     data-target-category="{{ child_of_child.get_parent_page }}"
                     data-target-type="{{child_of_child.get_parent_page.get_parent_page}}">
                    <div class="img_templ">
                        <a href="{% url 'show-template' id=child_of_child.id %}">
                            {% if child_of_child.image %}
                                 <div class="page_img" style="background-image: url('{{child_of_child.image.url}}') ; height: 250px;"></div>
                            {% else %}
                            <div class="page_img_empty" style="height: 250px;"></div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="disc_templ">
                        <h3><a href="{% url 'show-template' id=child_of_child.id %}">{{child_of_child.get_title}}</a></h3>
                        <h2><a class="js-filter-type" href="#" data-filter-category="{{ child_of_child.get_parent_page }}">{{ child_of_child.get_parent_page }}</a></h2>
                        <h4>some info some info some info</h4>
                        <h5>{{child_of_child.get_parent_page.get_parent_page}}</h5>
                    </div>
                </div>
                <!--<h3 style="margin-left: 150px">-->
                <!--{% if child_of_child.image %}-->
                <!--<img width="50" src="{{child_of_child.image.url}}" alt=""> {% endif %}-->
                <!--<a href="{{ child_of_child.get_absolute_url }}">{{ child_of_child.get_title }} </a></h3>-->
                <!--<h1>{{child_of_child.get_parent_page}}</h1>-->
                <!--<p style="color: blue;">глянуть шаблон - <a href="{% url 'show-template' id=child_of_child.id %}">-->
                <!--{{child_of_child.get_template}}</a></p>-->
                {% endfor %}
                {% endif %}
                {% endfor %}

                {% endif %}

                {% endfor %}


                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">Type</a></h5>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">Type</a></h5>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">Type</a></h5>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">Type</a></h5>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">Type</a></h5>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">Type</a></h5>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">Type</a></h5>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="user_templ">-->
                <!--<div class="img_templ">-->
                <!--<a href=""><img src="{% static 'temp.jpg' %}" alt=""></a>-->
                <!--</div>-->

                <!--<div class="disc_templ">-->
                <!--<h3><a href="">Template 1 </a></h3>-->
                <!--<h2><a href="">Category</a></h2>-->
                <!--<h4>some info some info some info</h4>-->
                <!--<h5><a href="#">Type</a></h5>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script>
    ClientApp.filter_page.init();
    ClientApp.filter_page.trigger_select();
</script>

{% endblock %}