{% extends 'user_app/index.html' %}
{% load solo_tags %}

{% block body %}
{% get_solo 'user_app.SiteConfiguration' as page_config %}

<section class="first_wrap">

    <div class="left_cont">
        <h1>
            {{page_config.header_title}}
        </h1>
        <h2>
            {{page_config.header_text}}
        </h2>
        <div class="butt_main">
            <a href="{% url 'templates' %}">{{page_config.btn_text}}</a>
        </div>

    </div>
    <div class="right_cont">
        <div class="cube">
            <div class="border"></div>
            <div class="back side"></div>
            <div class="left side"></div>
            <div class="right side"></div>
            <div class="top side"></div>
            <div class="bottom side"></div>
            <div class="front side"></div>
        </div>
    </div>
</section>

<section class="second_wrap">
    <h1>
        How it works
    </h1>

    <div class="about_wrap">
        <div class="about_block">
            <div class="img_block img1">
            </div>
            <div class="text_block">
                <h1> 1 </h1>
                <h3>
                    Sign in on Simpoo and starting work with this Platform
                </h3>
            </div>
        </div>
        <div class="arrow">

        </div>
        <div class="about_block">
            <div class="img_block img2">
            </div>
            <div class="text_block">
                <h1> 2 </h1>
                <h3>
                    Choose one of the beautiful templates you like.
                </h3>
            </div>
        </div>
        <div class="arrow">

        </div>
        <div class="about_block">
            <div class="img_block img3">
            </div>
            <div class="text_block">
                <h1> 3 </h1>
                <h3>
                    Edit the template at your discretion,
                    add information and choose plugins that
                    will make your site more convenient and
                    informative
                </h3>
            </div>
        </div>
        <div class="arrow">

        </div>
        <div class="about_block">
            <div class="img_block img4">
            </div>
            <div class="text_block">
                <h1> 4 </h1>
                <h3>
                    Enjoy the result! Share a link
                    to it in social networks! Let
                    the whole world know about you!
                </h3>
            </div>
        </div>
    </div>

</section>

<section class="third_wrap">
    <h1>What categories of templates are you interested in?</h1>
    <div class="info_category">
        <div class="col_category">
            <ul class="list_category">
                <li>FASHION & BEAUTY</li>
                <li>SPORTS</li>
                <li>TRAVEL</li>
                <li>DESIGN & PHOTOGRAPHY</li>
                <li>CARS & MOTORCYCLES</li>
                <li>MEDICAL HEALTHCARE</li>
            </ul>
        </div>
        <div class="col_category">
            <ul class="list_category">
                <li>EDUCATION & BOOKS</li>
                <li>HOLIDAYS, GIFTS & FLOWERS</li>
                <li>PET ANIMALS</li>
                <li>ELECTRONICS REPAIR</li>
                <li>ART & CULTURE</li>
                <li>REAL ESTATE</li>
            </ul>
        </div>
        <div class="col_category">
            <ul class="list_category">
                <li>ENTERTAINMENT & GAMES</li>
                <li>FOOD & RESTAURANT</li>
                <li>COMPUTERS & INTERNET</li>
                <li>SOCIETY & PEOPLE</li>
                <li>HOME & FAMILY</li>
                <li>BUSINESS</li>
            </ul>
        </div>
    </div>
</section>

<section class="fourth_wrap">
    <h1>
        Templates
    </h1>
    <div class="slider_temp">
        <div class="slide--parent">

            {% for slide in all_slides %}
            <div class="parent--el">
                <div class="two--col">
                    <div class="is-item has--img">
                        <figure class="the-img">
                            {% if  slide.image %}
                            <img src="{{slide.image.url}}"
                                 alt="">
                            {% else %}
                             <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/602471/jake-ingle-168726%20copy.jpg"
                                 alt="">
                            {% endif %}
                        </figure>
                    </div>
                    <div class="is-item has--content">
                        <div class="is-item--inner">
                            <h1><span>{{slide.title}}</span></h1>
                            <small>{{slide.short_description}}</small>
                            <hr>
                            {{slide.text|safe}}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>

    </div>


</section>

<section class="fifth_wrap">
    <div class="left_cont">
        <h1>
            {{page_config.footer_title}}
        </h1>
        <h2>
            {{page_config.footer_text}}
        </h2>

    </div>
    <div class="right_container">

        <div class="butt_main">
            <a href="{% url 'templates' %}">{{page_config.btn_text}}</a>
        </div>
    </div>


</section>
{% endblock %}