{% extends 'user_app/cabinet.html' %}


{% block cabinet %}
<br>
<div class="profile">
    <!--<div class="logo_img">-->
    <!--<div class="main_img">-->
    <!--<div class="profile_img">-->
    <!--<img src="" alt="">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="but_img">-->
    <!--<div class="butt_main">-->
    <!--<div class="">-->
    <!--<input type="file" class="">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="support_form">
        <div class="container">
            <form action="{% url 'profile-form' %}"
                  method="post"
                 enctype="multipart/form-data"
                  id="change_form">
                {% csrf_token %}
                <div class="form-wrapper">
                    <div class="logo_img left-col">
                        <div class="main_img">
                            <div class="profile_img"
                                 {% if curr_user.avatar %} style="background: none;" {% endif %}>
                                {% if  curr_user.avatar %}
                                <img src="{{curr_user.avatar.url}}" alt="">
                            {% endif %}
                            </div>
                        </div>
                        <div class="but_img">
                            <div class="butt_main">
                                <div class="">
                                    <input type="file" name="avatar" class="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-col">
                        <div class="form-group">
                            <input type="text" value="{{curr_user.user.username}}" name="full_name"/>
                            <label for="input" class="control-label">Login</label>
                            <i class="bar"></i>
                        </div>
                        <div class="form-group">
                            <input type="email" name='email' value='{{curr_user.user.email}}' />
                            <label for="input" class="control-label">Email</label>
                            <i class="bar"></i>
                        </div>

                        <div class="form-group">
                            <input id="password" name="password" type="password" />
                            <label for="input" class="control-label">Password</label>
                            <i class="bar"></i>
                        </div>
                        {% if error %}

                        <p class="error-field">{{error}}</p>
                        {% endif %}
                        <div class="form-group">
                            <input id="password_1" name="new_password" type="password" />
                            <label for="input" class="control-label">New password</label>
                            <i class="bar"></i>
                        </div>
                        <div class="form-group">
                            <input id="password_2" type="password" />
                            <label for="input" class="control-label">Confirm new password</label>
                            <i class="bar"></i>
                        </div>
                        <div class="form-group">
                            <textarea name="about_me">{{curr_user.about_me}} </textarea>
                            <label for="input" class="control-label">About me</label>
                            <i class="bar"></i>
                        </div>

                        <div id="js_error" class="js-error-field error-field hidden">
                            Passwords did not match
                        </div>
                        <div class="button-container align-center">
                            <button type="submit" class="button">
                                <span>Save change</span>
                            </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

<script>
    ClientApp.change_info.init();
</script>

{% endblock %}