body {
    overflow: hidden;
    font-family: Arial, Sans-Serif;
}

.bus__wrapper {
    height: calc(100vh - 83px);
    background: white;
    position: relative;
}

.bus__background_image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    z-index: 0;
}

.empty {
    background-image: url('../../img/foofil.jpg');
}

.bus_content {
    position: relative;
    z-index: 2;
    padding: 40px;
    box-sizing: border-box;
}

.bus_content.p0 {
    padding: 0;
}

.bus_content.dispFlex {
    display: flex;
    /*justify-content: space-between;*/
    align-items: stretch;
    flex-wrap: wrap;
    height: 100%;

}

.dispFlex {
    display: flex;
    flex-wrap: wrap;
}

.bus_content .left-col-35 {
    width: 35%;
    /*background: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.image-avatar {
    max-width: 400px;
    max-height: 300px;
    width: 80%;
}

.bus_content .left-col-35 .contact-wrap {
    position: absolute;
    bottom: 5%;
    /*background: white;*/
}

.contact-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-weight: bold;
}

.contact-item:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-image: url('../../img/phone_icon.svg');
    position: absolute;
    left: -35px;
}

.bus_content .right-col-55 {
    width: 65%;
    /*background: red;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    padding: 20px;
}

.bus_content .right-col-55 h1 {
    text-transform: uppercase;
    font-size: 42px;
    text-decoration: underline;
}


.circle-avatar {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

.col-70 {
    width: 70%;

}

.col-30 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.col-30 {
    /*background: red;*/

}

.h50 {
    height: 50%;
    /*background: red;*/
}

.col-30 .contact-wrap {
    position: absolute;
    bottom: 5%;
}

.p0 {
    padding: 0;
}

.right-inside-col {
    width: 40%;
}

.left-inside-col {
    width: 60%;
}

.back_photo {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.text{
    margin-left: 30%;
}
.display-flex-center{
    display: flex;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
}

.text-wrap{
    padding-right: 24px;
}
/*.display-flex-center p , h1{*/
    /*width: 100%;*/
/*}*/

.mb40{
    margin-bottom: 40px;
}

.p24{
    padding: 24px;
}

.col-40{
    width: 40%;
}

.h100{
    height: 100%;
}

.p10{
    padding: 10px;
}