body{
   overflow: hidden;
}

#image-video-content {
    height: calc(100vh - 83px);
    width: 100%;
    /*background: red;*/
    overflow: hidden;

}


#image-video-content #video {
    top: 83px;
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc(100vh - 83px);
    width: 100%;
    /*min-width: 100%;*/
    /*min-height: 100%;*/
}