<div class="form_main">
    <div class="container">
        <form method="post" id="login_form" action="{% url 'user-login' %}">
            {% csrf_token %}

            <div class="field-form form-group">
                <input type="text" name="login" id="login" required>
                <label class="control-label" for="login" >Login</label><i class="bar"></i>

            </div>
            <div class="field-form form-group">
                <input class="password" type="password" name="password" id="password" required>
                <label class="control-label" for="password" >Password</label><i class="bar"></i>

            </div>
            <div class="checkbox checkbox-group">
                <label for="show_pass_log">
                    <input class="js-show-pass" id="show_pass_log" type="checkbox" name="show_password"><i
                        class="helper"></i>Показати пароль
                </label>
            </div>
            <span class="js-failed error hidden"></span>

            <div class="btn-popup-wrap button-container">
                <button class="btn btn-popup w-50 button"><span>Sign in</span></button>
            </div>

        </form>
    </div>
</div>