<div class="form_main">
    <div class="container">
        <form method="post" id="register_form" action="{% url 'user-register' %}">
            {% csrf_token %}
            {% for field in register_form %}
                <div class="field-form form-group">

                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ field }}
                    <label class="control-label" for="">{{ field.label }}</label><i class="bar"></i>

                </div>
            {% endfor %}
{#            <div class="checkbox-group">#}
{#                <input class="js-show-pass" id="show_pass" type="checkbox" name="show_password">#}
{#                <label for="show_pass">Показати пароль</label>#}
{#            </div>#}

        <div class="checkbox checkbox-group">
      <label for="show_pass">
        <input class="js-show-pass" id="show_pass" type="checkbox" name="show_password"><i class="helper"></i>Показати пароль
      </label>
    </div>
            <span class="js-pass error password-error hidden">Паролі не співпадають!</span>
            <span class="js-len error length-error hidden">Довжина паролю повинна бути не менше 8 символів!</span>
            <span class="js-exists error hidden"></span>
            <div class="btn-popup-wrap button-container">
                <button class="btn btn-popup button"><span>Sign up</span></button>
            </div>
        </form>
    </div>
</div>