{% extends 'user_app/index.html' %}
{% load static %}

{% load navigation_tags %}
{% block body %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div class="advertisement">
    <div class="advert_block">
        <div class="left_col cab">
            <ul class="category_list">
                <li><a href="{% url 'my-profile' %}">Profile</a></li>
                <li><a href="/cabinet/">My templates</a></li>
                <li><a href="{% url 'create-new' %}">Create new template</a></li>
                <li><a href="/statistic/">Statistics</a></li>
                <li>
                    <a href="{% url 'contact_form_page' %}">Contact form</a>
                </li>

            </ul>

        </div>

        <div class="right_col cab ">
            <div class="advert_block">
                <div class="right_col create_templs ">

                    <div class="content_user_templ templ_my">
                        {% for page in user_pages %}
                        <!--<h1>{{page.id|month_stat:'month'}}</h1>-->
                        <!--<h1>{{page.id|month_stat:'count'}}</h1>-->
                        <div class="tem_block_stat js-stat-item"
                             data-html-id="container_stat_{{forloop.counter}}"
                             data-month-param = "{{page.id|month_stat:'month'}}"
                             data-count-param = "{{page.id|month_stat:'count'}}"
                             data-name="{{ page.page_user_custom.get_title }}"
                        >
                            <div class="user_templ stat">

                                <div class="img_templ">
                                    <a href=""><img src="{{page.image.url}}" alt=""></a>
                                </div>
                                <div class="disc_templ">
                                    <h3><a href="">{{ page.page_user_custom.get_title }}</a></h3>
                                    <h2><a href="">{{ page.category }}</a></h2>
                                    <h4>{{page.page_user_custom.get_meta_description}}</h4>
                                </div>
                            </div>

                            <div class="statistic_template">
                                <div id="container_stat_{{forloop.counter}}" style="min-width: 650px; height: 400px; margin: 0 auto"></div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<script>
    Highcharts.setOptions({
        colors: ['#D94F5C', '#BC2F3C']
    });
    Highcharts.chart('container', {
        chart: {
            type: 'spline'
        },


        title: {
            text: 'Chart of views'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            title: {
                text: 'Months'
            },
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            labels: {
                overflow: 'justify'
            }
        },
        yAxis: {
            title: {
                text: 'Count views'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#BC2F3C ',
                    lineWidth: 2
                }
            },
        },
        series: [{
            name: 'Monogram',
            label: {
                onArea: true
            },
            dataLabels: {
                enabled: true,

            },

            marker: {
                symbol: 'square'
            },
            data: [0, 3, 5, 3, 6, 9, 7, 15, 12, 0, 10, 11]

        }]
    });

</script>

{% block scripts %}
<script>
    ClientApp.statistic.init();
</script>

{% endblock %}


{% endblock %}