{% for elem in level_2 %}
<div>

    <h1>{{elem.get_title}} {% if elem.image %} <img width="50" src="{{elem.image.url}}" alt=""> {% endif %}</h1>


    {% if elem.get_child_pages %}
    {% for child_page in elem.get_child_pages %}
    {% if child_page.image %} <img style="margin-left: 50px" width="50" src="{{child_page.image.url}}" alt="">
    {% endif %}
    <h2 style="margin-left: 50px"><a href="{{ child_page.get_absolute_url }}">{{ child_page.get_title }} </a></h2>

    {% if child_page.get_child_pages %}
    {% for child_of_child in child_page.get_child_pages %}
    <h3 style="margin-left: 150px">
        {% if child_of_child.image %}
        <img width="50" src="{{child_of_child.image.url}}" alt=""> {% endif %}
        <a href="{{ child_of_child.get_absolute_url }}">{{ child_of_child.get_title }} </a></h3>
    <h1>{{child_of_child.get_parent_page}}</h1>
    <p style="color: blue;">глянуть шаблон - <a href="{% url 'show-template' id=child_of_child.id %}">
        {{child_of_child.get_template}}</a></p>
    {% endfor %}
    {% endif %}
    {% endfor %}

    {% endif %}
    <hr>
</div>

{% endfor %}




