{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% load static %}

{% block header %} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{STATIC_URL}}css/templates/bus_card.css">
<div class="bus__wrapper">
    {% placeholder 'bus_card_two_image' or %}
    <div class="bus__background_image" style="background-image: url('{{STATIC_URL}}img/back_1.jpg')"></div>

    <div class="bus_content p0 dispFlex">
        <div class="col-30 p10">
            <div class="circle-avatar" style="background-image: url('{{STATIC_URL}}img/lion.jpg')"></div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur dignissimos dolor ex
                    excepturi, fugit iure laboriosam, maxime molestias natus necessitatibus officia pariatur porro qui
                    similique vel veritatis vitae voluptatum.</p>
            </div>
            <div class="contact-wrap">
                <div class="contact-item"><a href="tel:{{instance.phone_1}}">+38012345678</a></div>
                <div class="contact-item"><a href="tel:{{instance.phone_2}}">+38012345678</a></div>
                <div class="contact-item"><a href="tel:{{instance.phone_3}}">+38012345678</a></div>
                <div> sdafgh</div>
                <div> email</div>
            </div>
        </div>
        <div class="col-40 display-flex-center">
            <h1 class="mb40">Lorem ipsum dolor sit amet.</h1>
            <div class="text-wrap">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis excepturi fugiat fugit itaque maiores
                necessitatibus perferendis sequi veniam. Accusamus blanditiis odio perferendis quidem quis temporibus
                totam. Alias amet delectus dignissimos dolor earum eligendi, esse excepturi expedita fuga illo illum, in
                incidunt ipsam iusto magni nesciunt perferendis quia reiciendis sit voluptate? Ad aliquam aliquid
                asperiores assumenda beatae, consequatur cumque distinctio dolor dolorem doloribus ea esse est et ex
                exercitationem facere facilis illum ipsa ipsam ipsum magni modi necessitatibus numquam officia optio
                pariatur possimus quam qui quia quibusdam quo recusandae saepe similique sint suscipit tempora unde?
                Delectus ducimus est, expedita quisquam quos sunt voluptas. A aliquam assumenda doloremque eos,
                exercitationem ipsa quae quis velit? Accusamus commodi doloremque ea impedit iste magni odit optio,
                pariatur provident reiciendis repudiandae rerum temporibus. Adipisci asperiores beatae eligendi, ipsum
                modi necessitatibus nesciunt nihil perferendis placeat quam quibusdam quo quos recusandae reprehenderit
                sllat repudiandae temporibus.
            </div>
        </div>
        <div class="col-30 p0 h100">
            <div class="h50 back_photo" style="background-image: url('{{STATIC_URL}}img/post-sample-image.jpg')"></div>
            <div class="h50 back_photo" style="background-image: url('{{STATIC_URL}}img/home-bg.jpg')"></div>
        </div>
    </div>


    {% endplaceholder %}
</div>
{% endblock %}
