{% extends "base.html" %}
{% load cms_tags %}



{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% load static %}

{% block header %} {% endblock %}

{% block content %}

<link rel="stylesheet" href="{{STATIC_URL}}css/templates/bus_card.css">
<style>
    .select_temp {
       top: 83px !important;
    }
</style>
<div class="bus__wrapper">
    {% placeholder 'bus_card_avatar' or %}
    <div class="bus__background_image empty"></div>
    <div class="bus_content dispFlex">
        <div class="left-col-35">
            <img class="image-avatar" src="{{STATIC_URL}}img/tren.jpg" alt="">
            <div class="contact-wrap">
                <div class="contact-item">+380637859429</div>
                <div class="contact-item"> +380677812232</div>
                <div class="contact-item"> +38067781223</div>
                <div class="contact-item"> +38067781223</div>
            </div>
        </div>
        <div class="right-col-55">
            <h1>asdasdasd</h1>
            <div class="text-wrap">
                asdasdasd
            </div>
        </div>
    </div>
    {% endplaceholder %}
</div>
{% endblock %}

