{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% load static %}

{% block header %} {% endblock %}
{% block content %}
<link rel="stylesheet" href="{{STATIC_URL}}css/templates/presentation_video_image.css">
<div id="image-video-content">

    {% placeholder 'video_image'  or %}
<video id="video" autoplay loop controls>
    <source src="{{STATIC_URL}}video/example_1.mp4">
</video>
    {% endplaceholder %}
</div>
{% endblock %}