{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% load static %}

{% block header %} {% endblock %}
{% block content %}
<div class="">
<link rel="stylesheet" href="{{STATIC_URL}}css/templates/a.css">

<header id="home">
    <nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                    <nav class="pull">
                        <ul class="top-nav">
                            <li><a href="#intro">Introduction <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                            </li>
                            <li><a href="#features">Features <span class="indicator"><i
                                    class="fa fa-angle-right"></i></span></a></li>
                            <li><a href="#responsive">Responsive Design <span class="indicator"><i
                                    class="fa fa-angle-right"></i></span></a></li>
                            <li><a href="#portfolio">Portfolio <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                            </li>
                            <li><a href="#team">Team <span class="indicator"><i
                                    class="fa fa-angle-right"></i></span></a></li>
                            <li><a href="#contact">Get in Touch <span class="indicator"><i
                                    class="fa fa-angle-right"></i></span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
    {% placeholder 'cover_img_txt' or %}

    {% endplaceholder %}
</header>
<section class="intro text-center section-padding" id="intro">
    <div class="container">
        {% placeholder 'title_text'  or %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="arrow">A Creative Portfolio Template</h1>
                <p>Sed a lorem quis neque interdum <a href="#">consequat ut sed sem</a>. Duis quis tempor nunc. Interdum
                    et malesuada fames ac ante ipsum primis in faucibus. Praesent id tempor ipsum. Fusce at massa ac
                    nunc porta fringilla sed eget neque. Quisque quis pretium nulla. Fusce eget bibendum neque, vel
                    volutpat augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames
                    ac ante ipsum primis in faucibus.</p>
            </div>
        </div>
        {% endplaceholder %}
    </div>
</section>
<section class="features text-center section-padding" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="arrow">Love what you do, and you'll do it well</h1>
                <div class="features-wrapper">
                    {% placeholder 'col' or %}
                    <div class="col-md-4 ">
                        <div class="icon">
                            <i class="fa fa-laptop shadow"></i>
                        </div>
                        <h2>Digital Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum
                            consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
                            primis in faucibus.</p>
                    </div>
                    <div class="col-md-4  delay-05s">
                        <div class="icon">
                            <i class="fa fa-code shadow"></i>
                        </div>
                        <h2>Web Development</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum
                            consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
                            primis in faucibus.</p>
                    </div>
                    <div class="col-md-4  delay-1s">
                        <div class="icon">
                            <i class="fa fa-heart shadow"></i>
                        </div>
                        <h2>Creative Direction</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum
                            consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
                            primis in faucibus.</p>
                    </div>
                    <div class="clearfix"></div>
                    {% endplaceholder %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center" id="responsive">
    <div class="container-fluid nopadding responsive-services">
        <div class="wrapper">
            <div class="iphone">
                {% placeholder 'col_50' %}
            </div>
            <div class="fluid-white"></div>
        </div>
        <div class="container designs">
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <div id="servicesSlider">
                        <ul class="slides">
                            {% placeholder 'text_title_50' or %}
                            <li>
                                <h1 class="arrow">Responsive Design Specialists</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non
                                    metus pulvinar imperdiet. Praesent non adipiscing libero. </p>
                                <p>
                                    Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus
                                    faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan. </p>
                                <p>Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem.
                                    Suspendisse sed venenatis odio, quis lobortis eros.</p>
                            </li>
                            {% endplaceholder %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="subscribe text-center">
    <div class="container">
        <h1><i class="fa fa-paper-plane"></i><span>Subscribe to stay in the loop</span></h1>
        <div class="green__callback__form">
        {% placeholder 'form' %}
            <br>
            <br>    <br>
            </div>
    </div>

</section>
<section class="dark-bg text-center section-padding contact-wrap" id="contact">
    <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="arrow">Drop us a line</h1>
            </div>
        </div>
        <div class="row contact-details">
            <div class="col-md-4">
                <div class="light-box box-hover">
                    <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
                    <p>Level 6, 23 Pitt St, Sydney</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="light-box box-hover">
                    <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
                    <p>+61 9 211 3747</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="light-box box-hover">
                    <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                    <p><a href="#">hey@halcyondays.com</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

</div>

{% endblock %}