{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% load static %}

{% block header %} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{STATIC_URL}}css/templates/bus_card.css">
<div class="bus__wrapper">
    {% placeholder 'test' or %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <h1>tst</h1>

      <br>
    <br>
    <br>
    <br>
    <hr>
    {% endplaceholder %}
</div>
{% endblock %}

