{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% load static %}

{% block header %} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{STATIC_URL}}css/templates/client.min.css">
<div class="wrapper" style="margin-top: 77px">
    <section class="first-screen">
        <div class="slider-wrapper">
            {% placeholder 'slider_image' or %}
            <div class="slider-item" style="background-image: url('{{STATIC_URL}}img/templates/uvfilm/slide1.jpg')">
            </div>
            <div class="slider-item" style="background-image: url('{{STATIC_URL}}img/templates/uvfilm/slide2.jpg')">
            </div>
            <div class="slider-item" style="background-image: url('{{STATIC_URL}}img/templates/uvfilm/slide3.jpg')">
            </div>
            <div class="slider-item" style="background-image: url('{{STATIC_URL}}img/templates/uvfilm/slide4.jpg')">
            </div>
            <div class="slider-item" style="background-image: url('{{STATIC_URL}}img/templates/uvfilm/slide5.jpg')">
            </div>
            <div class="slider-item" style="background-image: url('{{STATIC_URL}}img/templates/uvfilm/slide6.jpg')">
            </div>
            {% endplaceholder %}
        </div>
        <div class="container">
            <div class="logo-img">
                <a href="#">
                    {% placeholder 'col_right' or %}
                    <img src="{{STATIC_URL}}img/templates/uvfilm/logo.png" alt="">
                    {% endplaceholder %}
                </a>
            </div>
        </div>
    </section>

    <section class="second-screen ">
        <div class="container">
            <div class="command-wrap">
                {% placeholder 'text_title_image' or %}
                <div class="left-col">
                    <div class="img-wrapper contain"
                         style="background-image: url('{{STATIC_URL}}img/templates/uvfilm/command.jpg')">
                    </div>
                </div>
                <div class="right-col" data-aos="flip-down" data-aos-duration="500">
                    <h1 class="main-title">QUI SOMME-NOUS</h1>
                    <div class="description">
                        <p>Nous sommes une équipe jeune et pleine d’énergie et avons créé un nouveau type d’atelier
                            automobile
                            différent des standards habituels. Oubliez les expériences passées dans vos garages
                            habituels !
                            Avec
                            nous, on se sent "comme chez soi". Plus que des collègues, nous partageons ensemble l’envie
                            de
                            bien
                            faire et de vous proposer des services de qualité dans une ambiance chaleureuse, cordiale et
                            amicale. Nous sommes passionnés par les voitures et l’esthétique et avons l’ambition de
                            rassembler
                            ces 2 mondes.
                        </p>
                        <p>Chaque client mérite une approche individuelle. Nous parlons 5 langues différentes, les
                            techniciens ont plus de 10 ans d'expérience dans leur domaine, nous nous efforçons
                            constamment
                            de nous améliorer, nous suivons les nouvelles technologies ainsi que les changements
                            législatifs.
                        </p>
                        <p>Nous aimons notre travail et ce que nous souhaitons le plus est votre satisfaction !</p>
                    </div>
                </div>
                {% endplaceholder %}
            </div>
        </div>
    </section>

    <section class="third-screen">
        <div class="container">

            <h1>{% placeholder 'text' or %} Lorem ipsum dolor.{% endplaceholder %}</h1>

            <div class="car-wrapper">
                {% placeholder 'popup_item' or %}
                <div id="popups_container">
                    <div class="js-popup popup-wrapper" data-type-car="1">
                        <div class="popup-content">
                            <button class="js-close close-popup"></button>
                            <div class="head-popup">
                                <h3>Micro-citadine</h3>
                            </div>
                            <div class="cont-table">
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores aut beatae
                                    blanditiis consequatur delectus dolorum, ea eligendi error explicabo ipsa libero
                                    minima officia quos rem sint soluta voluptatibus. Ad alias dolorum laboriosam nam
                                    optio placeat, voluptas! A, ullam unde!</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="popups_containe1r">
                    <div class="js-popup popup-wrapper" data-type-car="2">
                        <div class="popup-content">
                            <button class="js-close close-popup"></button>
                            <div class="head-popup">
                                <h3>Citadine 3 portes</h3>
                            </div>
                            <div class="cont-table">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab commodi consectetur
                                    cumque dicta dolorem dolores eos facilis illum impedit ipsum iusto laudantium magnam
                                    magni nam nemo nobis nostrum nulla obcaecati quas quasi repellat suscipit totam unde
                                    velit veritatis vero, voluptate? Facere laborum quaerat reprehenderit sint sunt!
                                    Aliquam, distinctio eaque eligendi fugit ipsum magni maiores, maxime natus numquam
                                    perspiciatis provident sed sint sit ullam, voluptas. Eligendi et exercitationem illo
                                    neque possimus rem voluptatibus! At culpa et explicabo harum labore laboriosam nobis
                                    nulla, obcaecati odio quasi quod, reprehenderit rerum sapiente ut voluptatibus.
                                    Debitis, eos perferendis. Dolorum in iusto, magni mollitia officiis pariatur
                                    perferendis possimus quas! Dolore dolorem eum neque tenetur vero. Aliquid architecto
                                    ex impedit laborum nostrum officiis praesentium ratione. Dolor, eaque earum eius eum
                                    facilis fuga, laboriosam libero mollitia, nam nihil officiis quae similique sint
                                    tenetur voluptatibus. Aliquam, aperiam architecto asperiores atque blanditiis
                                    delectus dicta doloribus est facilis, illo ipsam ipsum, iste itaque magnam maiores
                                    mollitia nesciunt optio perspiciatis provident quae quia quisquam reiciendis
                                    repellendus reprehenderit sed unde voluptatum? Dolor earum fugiat harum libero
                                    magnam molestias nihil nostrum, omnis quas qui quos sit soluta voluptates! Ad
                                    architecto aut blanditiis consectetur cupiditate dignissimos dolorem doloremque
                                    eligendi enim facilis fuga fugit harum ipsum modi nostrum omnis perferendis possimus
                                    quas quod quos ratione reprehenderit ut, voluptate! Autem fugit harum id, incidunt
                                    labore libero molestiae, nesciunt nobis, odit quam qui rem repudiandae sequi soluta
                                    suscipit voluptates voluptatum! Alias animi asperiores aspernatur at, aut culpa
                                    cupiditate ea eius error eum fuga fugit harum id impedit ipsum laborum molestiae
                                    molestias mollitia officiis optio perferendis porro quas ratione reiciendis
                                    repellendus, sed similique soluta vero voluptas voluptatum. Accusantium distinctio
                                    dolore dolorem dolorum, eligendi explicabo, libero nisi omnis optio placeat ullam
                                    unde. Dolore earum et modi perspiciatis quaerat quam sint vel. Aspernatur eos
                                    facilis illum ipsam molestias mollitia nulla perferendis porro quia reprehenderit!
                                    Cumque possimus sapiente unde vel. Aliquid aut ex, impedit nemo nostrum officia qui
                                    vitae. Ab consectetur debitis dicta dolor expedita facere illo, ipsum, maiores,
                                    officia pariatur quasi sequi tempore veniam voluptas voluptatum? Commodi consectetur
                                    dolor esse hic ipsa nesciunt numquam possimus quibusdam voluptatibus? Animi debitis
                                    deleniti eius illo mollitia necessitatibus non. A accusantium alias aspernatur
                                    doloribus excepturi expedita laborum, magnam neque omnis provident recusandae
                                    suscipit ut vel? Cum iusto perspiciatis quia, reiciendis repellat sed temporibus
                                    velit. Architecto corporis, dolore doloremque ducimus ea et illo nesciunt soluta.
                                    Amet doloremque ducimus facere officiis qui quis quisquam repellendus, unde
                                    voluptates.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="car-item js-popup-click" data-type="1" data-aos="fade-right" data-aos-duration="500">
                    <div class="img-wrap">
                        <img class="size-50" src="{{STATIC_URL}}img/templates/uvfilm/1.png" alt="">
                    </div>
                    <div class="info-car">
                        <h5>Micro-citadine</h5>
                        <h6>Lorem ipsum dolor</h6>
                    </div>
                </div>
                <div class="car-item js-popup-click" data-type="2">
                    <div class="img-wrap">
                        <img src="{{STATIC_URL}}img/templates/uvfilm/2.png" alt="">
                    </div>
                    <div class="info-car">
                        <h5>Citadine 3 portes</h5>
                        <h6>Lorem ipsum dolor sit amet ...</h6>
                    </div>
                </div>
                {% endplaceholder %}
            </div>
        </div>
    </section>


</div>
<!--1 - слайдер-->
<!--2 - наша команда (коля)-->
<!--3 - фотка с поклейкой-->
<!--4 - цены-->
<!--5 - экран и ателье-->
<script src="{{STATIC_URL}}js/templates/uvfilm/client.bundle.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM-U9pYJHGw9a8ySZZCz2iF4nd4vra2LE"></script>

{% endblock %}