* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}


body, html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

#page-wrapper {
  //display: flex;
  //flex-wrap: wrap;
  min-height: 100vh;
  height: auto;
  position: relative;
  //min-height: 100%;

  header, footer, #content_wrapper {
    width: 100%;
  }

  header {
    //max-height: 80px;
  }


}

footer {
  //position: absolute;
  /* align-self: flex-end; */
  //position: absolute;
  bottom: 0;
  width: 100%;
}