.callback-form {
  &.blured {
    filter: blur(2px);
  }
}


.green__callback__form {

  .call_back_group .bar {
    position: relative;
    //border-bottom: 0.0625rem solid #999;
    display: block;
  }

  .call_back_group select:focus ~ .bar::before,
  .call_back_group input:focus ~ .bar::before,
  .call_back_group textarea:focus ~ .bar::before {
    width: 100%;
    left: 0;
  }

  .call_back_group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #D94F5C;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2;
  }

  .form-radio,
  .call_back_group {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
  }

  .form-inline > .call_back_group,
  .form-inline > .btn {
    display: inline-block;
    margin-bottom: 0;
  }

  .form-help {
    margin-top: 0.125rem;
    margin-left: 0.125rem;
    color: #b3b3b3;
    font-size: 0.8rem;
  }

  .checkbox .form-help, .form-radio .form-help, .call_back_group .form-help {
    position: absolute;
    width: 100%;
  }

  .checkbox .form-help {
    position: relative;
    margin-bottom: 1rem;
  }

  .form-radio .form-help {
    padding-top: 0.25rem;
    margin-top: -1rem;
  }

  .call_back_group input {
    height: 1.9rem;
  }

  .call_back_group textarea {
    resize: none;
  }

  .call_back_group select {
    width: 100%;
    font-size: 1rem;
    height: 1.6rem;
    padding: 0.125rem 0.125rem 0.0625rem;
    background: none;
    border: none;
    line-height: 1.6;
    box-shadow: none;
  }

  .call_back_group .control-label {
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
  }

  .call_back_group .bar {
    position: relative;
    //border-bottom: 0.0625rem solid #999;
    display: block;
  }

  .call_back_group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: green;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2;
  }

  .call_back_group input,
  .call_back_group textarea {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border-width: 0;
    border-color: green;
    //line-height: 1.9;
    width: 100%;
    color: transparent;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
  }

  .call_back_group input[type="file"] {
    line-height: 1;
  }

  .call_back_group input[type="file"] ~ .bar {
    display: none;
  }

  .call_back_group select,
  .call_back_group input:focus,
  .call_back_group input:valid,
  .call_back_group input.form-file,
  .call_back_group input.has-value,
  .call_back_group textarea:focus,
  .call_back_group textarea:valid,
  .call_back_group textarea.form-file,
  .call_back_group textarea.has-value {
    color: #365558;
    border-bottom: 1px solid #3dc9b3;
  }

  .call_back_group select ~ .control-label,
  .call_back_group input:focus ~ .control-label,
  .call_back_group input:valid ~ .control-label,
  .call_back_group input.form-file ~ .control-label,
  .call_back_group input.has-value ~ .control-label,
  .call_back_group textarea:focus ~ .control-label,
  .call_back_group textarea:valid ~ .control-label,
  .call_back_group textarea.form-file ~ .control-label,
  .call_back_group textarea.has-value ~ .control-label {
    font-size: 0.8rem;
    color: #777777;
    top: -1rem;
    left: 0;
  }

  .call_back_group select:focus,
  .call_back_group input:focus,
  .call_back_group textarea:focus {
    outline: none;
  }

  .call_back_group select:focus ~ .control-label,
  .call_back_group input:focus ~ .control-label,
  .call_back_group textarea:focus ~ .control-label {
    color: green;
  }

  .call_back_group select:focus ~ .bar::before,
  .call_back_group input:focus ~ .bar::before,
  .call_back_group textarea:focus ~ .bar::before {
    width: 100%;
    left: 0;
  }

  .checkbox label,
  .form-radio label {
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
    text-align: left;
    color: #365558;
    display: block;
  }

  .checkbox input,
  .form-radio input {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
  }

  .radio {
    margin-bottom: 1rem;
  }

  .radio .helper {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
  }

  .radio .helper::before, .radio .helper::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 0.25rem;
    width: 1rem;
    height: 1rem;
    -webkit-transition: -webkit-transform 0.28s ease;
    transition: -webkit-transform 0.28s ease;
    transition: transform 0.28s ease;
    transition: transform 0.28s ease, -webkit-transform 0.28s ease;
    border-radius: 50%;
    border: 0.125rem solid currentColor;
  }

  .radio .helper::after {
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: green;
    border-color: green;
  }

  .radio label:hover .helper {
    color: green;
  }

  .radio input:checked ~ .helper::after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  .radio input:checked ~ .helper::before {
    color: #d94f5c;
  }

  .checkbox {
    //margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .checkbox .helper {
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    -webkit-transition: border-color 0.28s ease;
    transition: border-color 0.28s ease;
  }

  .checkbox .helper::before, .checkbox .helper::after {
    position: absolute;
    height: 0;
    width: 0.2rem;
    background-color: #d94f5c;
    display: block;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 0.25rem;
    content: '';
    -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
    transition: opacity 0.28s ease, height 0s linear 0.28s;
    opacity: 0;
  }

}
