{% load cms_tags menu_tags sekizai_tags %}
{% load navigation_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock title %}</title>

    <!--styles for index page-->
    <link href="{{ STATIC_URL }}admin.min.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->


    {% render_block "css" %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{% include 'user_app/includes/header.html' with class='page_header' %}

<div class="{{ request|check_page_perm }}">
    {% cms_toolbar %}
</div>

{% if request.user.is_authenticated %}
{% if id_template %}
<div class="select_temp">
    <div class="name_temp">
        <h1>{{ title }}</h1>
    </div>
    <div class="butt_main">
        <a class="js-assign-template" href="{% url 'set-template' id_template=id_template %}">Choose this template</a>
    </div>
</div>

{% endif %}
{% else %}
{#<h2 style="text-align: center">Пройдите регистрацию <a class="js-auth-show" href="#">Register</a></h2>#}
{% endif %}


{% if choice_template_btn_flag %}
<!--<BUTTON href="#">Выбрать шаблон</BUTTON>-->
{% endif %}
<!-- Navigation  navbar navbar-default navbar-custom navbar-fixed-top-->
<nav class="">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll" style="display: none;">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Меню</span>
                Меню <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {# {% show_menu 0 100 100 100 %}#}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<div class="header-template" style="margin-top: 83px;">
    {% block header %}
    <header class="intro-header" style="background-image: url('{{ STATIC_URL }}img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{% placeholder "title" %}</h1>
                        <hr class="small">
                        <span class="subheading">{% placeholder "sub_title" %}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock header %}
</div>
<!-- Main Content -->

    {% block content %}{% endblock content %}



<div class="js-popup client-popup hidden">
    <div class=" fs-style  popup-content" data-action="register">
        <span class="js-close close">x</span>
        <h1 class="title-form">Реєстрація</h1>
        <div class="form-user">
            {% include 'user_app/partials/register_form.html' %}
        </div>
        <p class="js-switch switch-form-btn" data-action="login">
            <span>Вже маєте обліковий запис? </span>
            <span>Увійти!</span>
        </p>
    </div>


    <div class="fs-style popup-content hidden" data-action="login">
        <span class="js-close close">x</span>
        <h1 class="title-form">Увійти</h1>
        <div class="form-user">
            {% include 'user_app/partials/login_form.html' %}
        </div>
        <p class="js-switch switch-form-btn" data-action="register">
            <span>Немає облікового запису?</span>
            <span>Зареєструватись!</span>
        </p>
    </div>
</div>

<!-- Footer -->

<!-- jQuery -->
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<!--<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>-->

<!-- Theme JavaScript -->
<script src="{{ STATIC_URL }}js/clean-blog.min.js"></script>
{% render_block "js" %}


{% if id_template %}
<div class="js-popup-assign client-popup hidden">
    <div class=" fs-style  popup-content" data-action="register">
        <span class="js-close-assign close">X</span>
        <div class="form-user">

        </div>
    </div>
</div>

{% endif %}


<style>
    .django-hidden-toolbar {
        display: none;
    }
</style>
<script>
    $(document).ready(function () {
        try {
            setInterval(function (e) {
                var hide_list_left_bar = ['Сохранить как Тип страницы',
                'Отобразить в навигации',
                'Создать страницу',
                'Расширенные настройки', 'Шаблоны',
                'Оживить снова', 'Язык', 'Создать'];

            var btns_hide = ['Создать'];
            var menu_list_level_0 = document.querySelector('.cms-toolbar-item-navigation');
            var array_li = menu_list_level_0.children;
            var first_li = array_li[0];
            var second_li = array_li[1];
            var third_li_lang = array_li[2];
            var all_span = $(second_li).find('ul').find('span').not('.cms-icon-arrow');
            first_li.style.display = 'none';
            third_li_lang.style.display = 'none';
            $.each(all_span, function (index, elem) {
                $.each(hide_list_left_bar, function (index, elem_list) {
                    if (elem.innerHTML.includes(elem_list)) {
                        $(elem).closest('li').hide();
                    }
                })
            });

            $.each($('.cms-toolbar-item-buttons'), function (index, btn) {
                $.each(btns_hide, function (index, search_text) {
                    // console.log(;
                    if ($(btn).find('a')[0].innerHTML.includes(search_text)) {
                        $(btn).hide();
                    }
                });
                console.log(btn);
            })
            }, 100)

        } catch (e) {
            console.log(e);
        }
    })
</script>

<script src="{{ STATIC_URL }}admin.bundle.js"></script>

<script>
    ClientApp.auth_user.init();
    ClientApp.home.init();
    console.log('asdasds');
</script>

{% if id_template %}
<script>
    ClientApp.home.assign_template();
</script>
{% endif %}

{% block extrajs %} {% endblock %}
 <link href="{{ STATIC_URL }}admin.min.css" rel="stylesheet">
</body>