<form class="js-call-back-form callback-form" action="{% url 'contact-form' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="create_by" value="{{create_by}}">
    <input type="hidden" name="to_email" value='{{instance.email}}'>
    <input type="hidden" name="user_page" value="{{instance.page}}">
    <input type="hidden" name="user_page_id" value="{{instance.page.id}}">
    <div class="call_back_group">
        <input type="text" name="theme">
        <label class="control-label" for="">Theme</label>
        <i class="bar"></i>
    </div>
    <div class="call_back_group">

        <input type="" id="js_mask_email" name="email">
        <label class="control-label" for="">email</label>
        <i class="bar"></i>
    </div>
    <div class="call_back_group">
        <input type="text" id="js_mask_phone" name="phone">
        <label class="control-label" for="">phone</label>
        <i class="bar"></i>
    </div>
    <div class="call_back_group">
        <input type="text" name="name_user">
        <label class="control-label" for="">Name</label>
        <i class="bar"></i>
    </div>
    <div class="call_back_group">
        <textarea name="msg" id="" cols="40" rows="5" maxlength="1000"></textarea>
        <label class="control-label" for="">Message</label>
        <i class="bar"></i>
    </div>
    <h1>{{a}}</h1>
    <input type="{% if disabled %}reset{% else %}submit{% endif %}" value="submit">
</form>


<script src="{{ STATIC_URL }}plugins.bundle.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}plugins.min.css">
<script>
    Plugins.call_back_form.init();
    Plugins.call_back_form.mask_phone();
    // Plugins.call_back_form.mask_email();
</script>


