{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block header %}
	<header>
		<h1>Header for full width templates!</h1>
	</header>
{% endblock header %}
{% block content %}
	{% placeholder "content" %}

<div class="google-map">
    <h1>Map</h1>

    {% placeholder 'col_right' %}
</div>
<div class="gallery">
	{% placeholder 'col_left' %}
</div>
{% endblock content %}
