<h1>привет {% if request.user.is_authenticated %}
  {{ request.user.username }} {{ request.user.last_name}}!
    <h1>{{instance.page.id}}</h1>
{% else %}
  {{instance}}
  {{ instance.guest_name }}
{% endif %}</h1>