{% extends "base.html" %}
{% load cms_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block header %}
<header class="intro-header" style="background-image: url('{{ STATIC_URL }}img/contact-bg.jpg')">
    <div class="container">
        {% placeholder "title" or%}
        Lorem ipsum dolor sit
        {% endplaceholder %}
    </div>
</header>
{% endblock header %}

{% load static %}

